In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('Housing.csv')

In [46]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [47]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [49]:
binary_columns = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
for col in binary_columns:
    df[col] = df[col].map({'yes': 1, 'no': 0})

In [50]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,unfurnished
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,semi-furnished
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,unfurnished
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,furnished
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,unfurnished

In [51]:
df = pd.get_dummies(df, columns=['furnishingstatus'], drop_first=False)

In [52]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,True,False,False
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,True,False,False
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,False,True,False
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,True,False,False
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,False,False,True
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,False,True,False
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,False,False,True
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,True,False,False
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,False,False,True

In [53]:
df[["furnishingstatus_furnished","furnishingstatus_semi-furnished", "furnishingstatus_unfurnished"]] = df[["furnishingstatus_furnished","furnishingstatus_semi-furnished", "furnishingstatus_unfurnished"]].astype(int)

In [54]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0,0,1
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0,1,0
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0,0,1
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0,0,1

In [55]:
from sklearn.preprocessing import StandardScaler

# taking features or columns that were having quantity data

In [56]:
numerical_columns = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking']

In [57]:
scaler = StandardScaler()

In [58]:
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [59]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,1.046726,1.403419,1.421812,1.378217,1,0,0,0,1,1.517692,1,1,0,0
1,12250000,1.757010,1.403419,5.405809,2.532024,1,0,0,0,1,2.679409,0,1,0,0
2,12250000,2.218232,0.047278,1.421812,0.224410,1,0,1,0,0,1.517692,1,0,1,0
3,12215000,1.083624,1.403419,1.421812,0.224410,1,0,1,0,1,2.679409,1,1,0,0
4,11410000,1.046726,1.403419,-0.570187,0.224410,1,1,1,0,1,1.517692,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,-0.991879,-1.308863,-0.570187,-0.929397,1,0,1,0,0,1.517692,0,0,0,1
541,1767150,-1.268613,0.047278,-0.570187,-0.929397,0,0,0,0,0,-0.805741,0,0,1,0
542,1750000,-0.705921,-1.308863,-0.570187,-0.929397,1,0,0,0,0,-0.805741,0,0,0,1
543,1750000,-1.033389,0.047278,-0.570187,-0.929397,0,0,0,0,0,-0.805741,0,1,0,0
544,1750000,-0.599839,0.047278,-0.570187,0.224410,1,0,0,0,0,-0.805741,0,0,0,1

In [60]:
X = df.drop('price', axis=1)

In [61]:
X

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,1.046726,1.403419,1.421812,1.378217,1,0,0,0,1,1.517692,1,1,0,0
1,1.757010,1.403419,5.405809,2.532024,1,0,0,0,1,2.679409,0,1,0,0
2,2.218232,0.047278,1.421812,0.224410,1,0,1,0,0,1.517692,1,0,1,0
3,1.083624,1.403419,1.421812,0.224410,1,0,1,0,1,2.679409,1,1,0,0
4,1.046726,1.403419,-0.570187,0.224410,1,1,1,0,1,1.517692,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,-0.991879,-1.308863,-0.570187,-0.929397,1,0,1,0,0,1.517692,0,0,0,1
541,-1.268613,0.047278,-0.570187,-0.929397,0,0,0,0,0,-0.805741,0,0,1,0
542,-0.705921,-1.308863,-0.570187,-0.929397,1,0,0,0,0,-0.805741,0,0,0,1
543,-1.033389,0.047278,-0.570187,-0.929397,0,0,0,0,0,-0.805741,0,1,0,0
544,-0.599839,0.047278,-0.570187,0.224410,1,0,0,0,0,-0.805741,0,0,0,1

In [62]:
Y = df['price']

In [63]:
Y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [64]:
from sklearn.model_selection import train_test_split

In [216]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state= 500)

In [217]:
from sklearn.linear_model import LinearRegression

In [218]:
model = LinearRegression()

In [219]:
model.fit(X_train, Y_train)

LinearRegression()

In [220]:
Y_pred = model.predict(X_test)

In [221]:
Y_pred

array([3507609.72579316, 4773955.91558721, 5528126.134548  ,
       5791035.40599205, 3355381.88642799, 2822327.62287786,
       2205957.71583118, 4140118.37262723, 3586236.641433  ,
       2614629.89962316, 3369651.084644  , 3173665.91460499,
       6824532.5234089 , 5074404.00359957, 5161819.19459596,
       5887651.1602119 , 5604146.32643838, 3785524.26301648,
       7016527.38989309, 3823870.16510837, 7213612.46220677,
       4939274.09447977, 4104968.32656893, 5708569.60822395,
       6458994.17574908, 4918928.2230839 , 4749561.85860327,
       6865863.44335876, 4213282.66307323, 5826242.2970179 ,
       7027946.46693039, 4535676.59235814, 5855459.38100476,
       7270597.23986696, 3088601.60056162, 4272997.48385024,
       2924057.94474416, 6007782.52146766, 4294234.85149467,
       2506798.9142022 , 6943871.06557666, 4394768.97071346,
       3168621.69104485, 2487241.61509926, 2763270.80062438,
       2066480.68034103, 3406169.78197908, 6156941.12959512,
       5816528.79174952, 3423944.2002799 , 2910063.74418077,
       5297098.43001242, 6928508.66291601, 4458567.80123992,
       6274674.79336668, 4711878.68381286, 3569294.9346346 ,
       3223754.15850104, 3574488.31361445, 6656978.17843924,
       3132302.19677968, 4327988.76252775, 7911940.43981904,
       5792548.07103591, 4996016.13209569, 5944534.24641339,
       8467144.87506921, 4530960.89553428, 3467276.07909626,
       2057104.07291312, 2385085.27151322, 5162471.27745464,
       2908331.54762907, 4136969.84580329, 2939250.72890726,
       4552822.67595091, 3432196.2929354 , 4545573.91131014,
       4791249.98409409, 2699019.36647434, 6736326.41559521,
       6886634.80052558, 3609748.87058125, 4797620.54671744,
       5912398.42213554, 4260337.3660521 , 4215236.81780705,
       4517725.98355252, 4016724.15520506, 3854486.62126847,
       4570193.18288764, 4665865.42827946, 2708395.97390225,
       3282300.37556814, 4414773.17814543, 3005340.00673167,
       5237181.89237365, 6480960.60746172, 3249965.76344248,
       3055117.70681806, 7540132.23621037, 5126727.54451394,
       6731386.71433206, 6813432.02932626, 6046095.71787666,
       4807846.42792954, 3986029.8972144 , 4009184.10997883,
       4634404.10284969])

In [222]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mae = mean_absolute_error(Y_test, Y_pred)
mse = mean_squared_error(Y_test, Y_pred)
r2 = r2_score(Y_test, Y_pred)
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 662889.8475037976
Mean Squared Error: 847152968184.9515
R-squared: 0.704408346767002

In [2]:
from sklearn.linear_model import Ridge

In [3]:
from sklearn.model_selection import GridSearchCV

In [4]:
ridge = Ridge()

In [ ]:
params = ['alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,2,10,20]]

In [ ]:
ridge_regressor = GridSearchCV(ridge,params,scoring = 'neg_mean_squared_error', cv = )